name: slim

on:
  workflow_call:
    inputs:
      php-versions:
        required: true
        type: string

jobs:
  test:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ ubuntu-latest ]
        php: ${{ fromJson(format('[{0}]', inputs.php-versions)) }}
        slim: [ '4.0' ]
        dependencies: [ 'lowest', 'highest' ]

    name: PHP ${{ matrix.php }} / Slim ${{ matrix.slim }} on ${{ matrix.operating-system }} with ${{ matrix.dependencies }} dependencies

    steps:
      - uses: actions/checkout@v2
        name: Checkout repository

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.composer/cache/files
          key: dependencies-php-${{ matrix.php }}-composer-${{ hashFiles('composer.json') }}

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: pcov

      - name: Install framework deps
        run: |
          composer require --dev slim/slim "^${{ matrix.slim }}"
          composer require php-di/php-di

      - name: Composer install
        uses: ramsey/composer-install@v3
        with:
          dependency-versions: ${{ matrix.dependencies }}
          composer-options: ${{ matrix.composer-options }}

      - name: PHPUnit + Code coverage
        run: |
          vendor/bin/phpunit
